# ===== UI =====
streamlit==1.38.0
rich==13.9.4

numpy==1.25.2
scipy==1.13.1
pandas==2.2.2
matplotlib==3.8.4
seaborn==0.13.2
pillow==10.4.0

# ===== AnnData / Scanpy =====
anndata==0.11.3
scanpy==1.11.2
# muon==0.1.7

# ===== ML / sklearn =====
scikit-learn==1.4.2

# ===== PyTorch (CPU) =====
torch==2.3.1
# ---- PyG (use matching wheels for torch 2.3.1 + CPU) ----
-f https://data.pyg.org/whl/torch-2.3.1+cpu.html
torch_geometric==2.5.3
torch_scatter==2.1.2
torch_sparse==0.6.18
pyg_lib==0.4.0

python-igraph==0.11.5
leidenalg==0.10.2

# ===== 其他常用 =====
tqdm==4.66.5
gdown